body {
    font-family: "Roboto",Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1598237601465-af66b7475e92?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
    background-color: black;
    margin: 0;
    color: white;
}
 
 
.container {
    background: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    width: 300px;
}
 
 
h1 {
    text-align: center;
    color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
 
 
.input-container {
    display: flex;
    margin-bottom: 20px;
}
 
 
input {
    flex: 1;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
}
 
 
button {
    padding: 10px;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}
 
 
button:hover {
    background: black;
    box-shadow: 0 0 10px white;
    transition: background 1s;
}
 
 
ul {
    list-style: none;
    padding: 0;
}
 
 
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
 
 
li.completed {
    text-decoration: line-through;
    color: #777;
}
 
 
.remove-btn {
    background: #dc3545;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
 
 
.remove-btn:hover {
    background: #c82333;
}


