@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-image: url("https://images.unsplash.com/photo-1598237601465-af66b7475e92?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: black;
    background-position: bottom center;
    background-size: cover;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    border: 1px white solid;
    box-shadow: 0px 0px 10px white;
    width: 300px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.input-container {
    display: flex;
    margin-bottom: 20px
}

input {
    flex: 1;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
}

button {
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

button:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px white;
    transition: background-color .5s;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: #777;
}

.remove-btn {
    background: #dc3545;
    border: none;
    padding: spx 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.remove-btn:hover {
    background: #dc4956;
}